p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 150px;
    height: 150px;
    background-color: orange;
}

html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }

  .my-grid {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 80% 80%;
  }

  .has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
  }

  .has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
  }



  .flexbox-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px dashed black;
  }

  .container-child {
      border: 1px solid red;
  }
